<h1>Ruby Edge</h1>

<p>Ruby Edge is a finance management application that allows you to easily keep a balance between multiple devices. Ruby Edge is the successor of Ledgers, an application with similar functionality limited to Android.</p>

<p>Manage your <%= link_to 'transactions', transactions_path %>.</p>

<p>Learn about more my projects at <a href="https://scottnumamoto.com">scottnumamoto.com</a>.</p>
